<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" testsuite" verbose="1">
    <test name="Login and Search ">
        <classes>
            <class name="LoginTestngSample"/>
            <class name="SearchMatchString"/>
            <class name="AddManyItemstoCart"/>
        </classes>
    </test>
</suite>